p {
   font-family: 'Folty', cursive;
   font-size: 30px;
   text-align: center;
   color: #333333;
}

.centered {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 20px;
   
}


.buttons {
   display: grid;
   grid-template-rows: auto auto;
   grid-gap: 10px;
}
.image {
   border-radius: 500%;

}
