 <%- include('../layout/header') %> 
<div class="jumbotron centered" >
     <div class="image">
         <img class="profile" src="public/home image/home pic.jpeg" width="750" height="500" >
</div>
 <div class="container"> 
    <p class ="text">Hello welcome everyone!! <br>How it will be your happy day <br>without a cake!!</p>
     <div class="buttons"> 
        <a class="btn btn-dark btn-lg" href="/register" role="button" >Register</a>
<a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
 </div>
</div> 
</div> 
<%- include('../layout/footer') %>